function Test.new 0
    push constant 3
    call Memory.alloc 1
    pop pointer 0
    call Control.new 0
    pop this 0
    push pointer 0
    return
function Test.test_control 0
    push argument 0
    pop pointer 0
    push this 0
    push constant 5
    call String.new 1
    push constant 104
    call String.appendChar 2
    push constant 101
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 108
    call String.appendChar 2
    push constant 111
    call String.appendChar 2
    call Control.printInstruction 2
    pop temp 0
    push constant 0
    return
function Test.test_random 6
    push argument 0
    pop pointer 0
    push local 0
    call Keyboard.readInt 1
    pop local 1
    push local 1
    call Random.new 1
    pop this 2
    push constant 0
    pop local 5
label Test_0
    push local 5
    push constant 10
    lt
    not
    if-goto Test_1
    push this 2
    call Random.generateX 1
    pop local 2
    push this 2
    call Random.generateY 1
    pop local 3
    push this 2
    call Random.generateD 1
    pop local 4
    push local 2
    call Output.printInt 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 3
    call Output.printInt 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push local 4
    call Output.printInt 1
    pop temp 0
    call Output.println 0
    pop temp 0
    push constant 1000
    call Sys.wait 1
    pop temp 0
    call Screen.clearScreen 0
    pop temp 0
    push local 5
    push constant 1
    add
    pop local 5
    goto Test_0
label Test_1
    push constant 0
    return
function Test.test_ship 4
    push argument 0
    pop pointer 0
    call Control.new 0
    pop local 3
    push local 0
    call Keyboard.readInt 1
    pop local 0
    call Screen.clearScreen 0
    pop temp 0
    push local 0
    push local 3
    call BattleShip.new 2
    pop this 1
    push this 1
    call BattleShip.makeMyShip 1
    pop temp 0
    push this 1
    call BattleShip.makeEnemyShip 1
    pop temp 0
    push this 1
    call BattleShip.getMyShip 1
    pop local 1
    push this 1
    call BattleShip.getEnemyShip 1
    pop local 2
    push local 1
    push local 2
    call Ship.moveUp 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 1
    push local 2
    call Ship.moveDown 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 1
    push local 2
    call Ship.moveLeft 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 1
    push local 2
    call Ship.moveRight 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 2
    push local 1
    call Ship.moveUp 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 2
    push local 1
    call Ship.moveDown 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 2
    push local 1
    call Ship.moveLeft 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 2
    push local 1
    call Ship.moveRight 2
    pop temp 0
    push constant 500
    call Sys.wait 1
    pop temp 0
    push local 1
    call Ship.dispose 1
    pop temp 0
    push local 2
    call Ship.dispose 1
    pop temp 0
    push constant 0
    return
function Test.dispose 0
    push argument 0
    pop pointer 0
    push pointer 0
    call Memory.deAlloc 1
    pop temp 0
    push constant 0
    return